@font-face {
  font-family: 'Epilogue';
  src: url('../assets/fonts/Epilogue/Epilogue-Regular.ttf');
}

@font-face {
  font-family: 'Kumbh_Sans';
  src: url('../assets/fonts/Kumbh_Sans/KumbhSans-SemiBold.ttf');
}