
//* Colors
$clr-primary: #FDFCFA;
$clr-secondary: #16161d;
$clr-white: #FFF;
$clr-alert: #800020;

//* Font sizes
$fs-56: 3.5rem; // 56px
$fs-36: 2.25rem; // 36px
$fs-26: 1.625rem; // 26px
$fs-24: 1.5rem; // 24px
$fs-20: 1.25rem; // 20px
$fs-18: 1.125rem; // 18px
$fs-16: 1rem; // 16px
$fs-14: .875rem; // 14px
$fs-12: .75rem; // 12px

//* Fonts
$ff-inter: 'Inter';
$ff-nunito: 'Nunito';

//* Spacers
$spacer-jumbo: 3.5rem; // 56px
$spacer-xxxl: 2.25rem; // 36px
$spacer-xxl: 1.5rem; // 24px
$spacer-xl: 1.25rem; // 20px
$spacer-l: 1.125rem; // 18px
$spacer-m: 1rem; // 16px
$spacer-s: .875rem; // 14px
$spacer-xs: .75rem; // 12px
$spacer-xxs: .5rem; // 8px