//* Colors
$clr-primary: #A7D2CB;
$clr-secondary: #F2D388;
$clr-accent: #874C62;
$clr-white: #FFFFF0;
$clr-black: #222222;

//* Font sizes
$fs-56: 3.5rem; // 56px
$fs-36: 2.25rem; // 36px
$fs-26: 1.625rem; // 26px
$fs-24: 1.5rem; // 24px
$fs-20: 1.25rem; // 20px
$fs-18: 1.125rem; // 18px
$fs-16: 1rem; // 16px
$fs-14: .875rem; // 14px
$fs-12: .75rem; // 12px

//* Fonts
$ff-kumbh: 'Kumbh_Sans', sans-serif;
$ff-epilogue: 'Epilogue', sans-serif;

//* Spacers
$spacer-jumbo: 5rem; // 80px
$spacer-xxxl: 2.25rem; // 36px
$spacer-xxl: 1.5rem; // 24px
$spacer-xl: 1.25rem; // 20px
$spacer-l: 1.125rem; // 18px
$spacer-m: 1rem; // 16px
$spacer-s: .875rem; // 14px
$spacer-xs: .75rem; // 12px
$spacer-xxs: .5rem; // 8px