/* Reset */

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

@font-face {
  font-family: 'Kumbh_Sans';
  src: url('./fonts/Kumbh_Sans/KumbhSans-SemiBold.ttf');

  font-family: 'Epilogue';
  src: url('./fonts/Epilogue/Epilogue-Regular.ttf');
}

/* Custom properties */
:root {
  --clr-main-dark: #8fbdb7;
  --clr-main-light: #F9EDD6;
  --clr-white: #FFFFF0;

  --ff-title: 'Kumbh_Sans', sans-serif;
  --ff-body: 'Epilogue', sans-serif;

  --spacer-xl: 5rem;
  --spacer-l: 4rem;
  --spacer-m: 2.5rem;
  --spacer-s: 1.5rem;
  --spacer-xs: 1rem;
  --spacer-xxs: .7rem;
}

/* Utility classes */

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

/* Main */

body {
  background-color: var(--clr-main-light);
}

.container {
  max-width: 1024px;
  width: 95%;
  margin: 0 auto;
}

.header {
  border-bottom: 5px solid black;
  padding-block: var(--spacer-xs);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-main-dark);

  font-family: var(--ff-title);
  font-size: 1.3rem;
}


.main-box {
  margin: var(--spacer-l) auto;
  background-color: var(--clr-white);
  max-width: 40rem;
  border: 8px solid black;

  font-family: var(--ff-body);
  font-size: 1.1em;
}

.main-box__text {
  padding: var(--spacer-m) var(--spacer-s);
  margin-top: var(--spacer-s);
}

.main-box__text > p:first-child {
  margin-bottom: var(--spacer-xs);
}

.main-box__options {
  padding: var(--spacer-m) var(--spacer-s);
}

.option {
  background-color: var(--clr-main-light);
  border: 2px solid black;
  width: 95%;
  margin: 0 auto;
  padding: var(--spacer-xxs);
  cursor: pointer;
  transition: all ease .3s;
}

.option:hover {
  background-color: var(--clr-main-dark);
}

.option:active {
  background-color: #729792;
}

.option:not(:first-child) {
  margin-top: var(--spacer-xs);
}

.copyright {
  font-family: var(--ff-body);
  padding-bottom: var(--spacer-xs);
}

.footer__link {
  text-decoration: none;
  color: var(--clr-main-dark);
}